@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1659155155578') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-roundclosefill:before {
  content: "\e658";
}

.icon-close:before {
  content: "\e69a";
}

.icon-closefill:before {
  content: "\e6a6";
}

.icon-icondownload:before {
  content: "\e714";
}

.icon-zuidahua:before {
  content: "\e611";
}

.icon-roundclosefill1:before {
  content: "\e6d1";
}

.icon-zuixiaohua:before {
  content: "\e6e8";
}

.icon-zuidahua1:before {
  content: "\e622";
}

.icon-zuixiaohua1:before {
  content: "\e624";
}

.icon-zuixiaohua3:before {
  content: "\e62d";
}

.icon-close1:before {
  content: "\e69b";
}

.icon-3zuidahua-3:before {
  content: "\e692";
}

.icon-round_close_fill_light:before {
  content: "\e7ee";
}

.icon-guanbijiantou:before {
  content: "\e86d";
}

.icon-shoucang:before {
  content: "\e86e";
}

.icon-sousuo:before {
  content: "\e86f";
}

.icon-fenxiang:before {
  content: "\e870";
}

.icon-xiaoxi:before {
  content: "\e871";
}

.icon-xihuan:before {
  content: "\e872";
}

.icon-xihuan1:before {
  content: "\e873";
}

.icon-zan:before {
  content: "\e874";
}

.icon-paizhao:before {
  content: "\e877";
}

.icon-yinliang:before {
  content: "\e87a";
}

.icon-bofang:before {
  content: "\e87c";
}

.icon-yueduxiao:before {
  content: "\e87d";
}

.icon-dingweixiao:before {
  content: "\e87e";
}

.icon-tishi:before {
  content: "\e881";
}

.icon-ditu:before {
  content: "\e884";
}

.icon-changyongxinxi:before {
  content: "\e886";
}

.icon-shoujian:before {
  content: "\e888";
}

.icon-tupian:before {
  content: "\e889";
}

.icon-zengjia:before {
  content: "\e88a";
}

.icon-neirong2:before {
  content: "\e88b";
}

.icon-fujian:before {
  content: "\e88c";
}

.icon-gengduo:before {
  content: "\e88d";
}

.icon-huidaodingbu:before {
  content: "\e88e";
}

.icon-liebiao:before {
  content: "\e88f";
}

.icon-mulu:before {
  content: "\e890";
}

.icon-naozhong:before {
  content: "\e891";
}

.icon-pinglun:before {
  content: "\e892";
}

.icon-saoyisao:before {
  content: "\e893";
}

.icon-shouqijiantouxiao:before {
  content: "\e894";
}

.icon-shezhi:before {
  content: "\e895";
}

.icon-tuichu:before {
  content: "\e896";
}

.icon-wenda:before {
  content: "\e897";
}

.icon-wifi:before {
  content: "\e898";
}

.icon-wifidianhuaqia:before {
  content: "\e899";
}

.icon-changge:before {
  content: "\e89a";
}

.icon-anquanzhongxin:before {
  content: "\e89b";
}

.icon-dingdandaifukuan:before {
  content: "\e89c";
}

.icon-dingdan:before {
  content: "\e89d";
}

.icon-mudedi:before {
  content: "\e89e";
}

.icon-rili:before {
  content: "\e89f";
}

.icon-wode:before {
  content: "\e8a0";
}

.icon-fanhui:before {
  content: "\e8a4";
}

.icon-gengduo1:before {
  content: "\e8a6";
}

.icon-jia:before {
  content: "\e8a7";
}

.icon-jian:before {
  content: "\e8a8";
}

.icon-shuaxin:before {
  content: "\e8aa";
}

.icon-zhengque:before {
  content: "\e8ad";
}

.icon-fanhuijiantou:before {
  content: "\e8b5";
}

.icon-biaodankongjiandanxuan:before {
  content: "\e8c5";
}

.icon-biaodankongjianfuxuan:before {
  content: "\e8c6";
}

.icon-biaodankongjianfuxuankong:before {
  content: "\e8c7";
}

.icon-xiugai:before {
  content: "\e8cf";
}

.icon-fenxiangxiao:before {
  content: "\e8d8";
}

.icon-guanbishixin:before {
  content: "\e8dc";
}

.icon-fanhuijiantouxiangqingye:before {
  content: "\e8de";
}

.icon-lianjie:before {
  content: "\e8e1";
}

.icon-pailie:before {
  content: "\e8e6";
}

.icon-weibiaoti-:before {
  content: "\e635";
}

.icon-jinrujiantou:before {
  content: "\e8f1";
}

.icon-yuyinguanbi:before {
  content: "\e903";
}

.icon-xialajiantouxiao:before {
  content: "\e907";
}

.icon-shouqijiantouxiao1:before {
  content: "\e908";
}

.icon-close-square:before {
  content: "\e793";
}

.icon-close-circle-fill:before {
  content: "\e844";
}

.icon-close-square-fill:before {
  content: "\e84b";
}

.icon-baocun:before {
  content: "\e936";
}

.icon-close2:before {
  content: "\e711";
}

.icon-qingkong:before {
  content: "\e946";
}

.icon-zuixiaohua2:before {
  content: "\e676";
}

.icon-huanyuan:before {
  content: "\e70f";
}

.icon-24gl-minimization:before {
  content: "\ea6a";
}

.icon-24gl-minimize:before {
  content: "\ea6b";
}

.icon-24gl-minimize2:before {
  content: "\ea6c";
}

.icon-24gf-minimize2:before {
  content: "\ea7f";
}

.icon-24gf-minimize:before {
  content: "\ea80";
}

.icon-baobiao:before {
  content: "\e602";
}

.icon--rili:before {
  content: "\e603";
}

.icon-jinri:before {
  content: "\e604";
}

.icon-xiayibu:before {
  content: "\e60b";
}

.icon-Maximize:before {
  content: "\e70b";
}

.icon-jiaoseguanli:before {
  content: "\e618";
}

.icon-maximize:before {
  content: "\e7bf";
}

.icon-close_circle:before {
  content: "\e66e";
}

.icon-huanyuan1:before {
  content: "\e648";
}

.icon-shujukuhuanyuan-02:before {
  content: "\e617";
}

.icon-zuixiaohua4:before {
  content: "\e616";
}

